.bg-terrific-orange{
  /* background-color: #ff2600; */
  background:#FF4848
}

.bg-terrific-orange2{
  background:rgb(255, 72, 72);
  backdrop-filter: invert(80%);
}

.zoom{
  transition: transform .3s;
}

.zoom:hover{
  transform: scale(1.1);
}

.navbar-toggler-no-border.collapsed .navbar-toggler-icon{
  border: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.focus-selector:hover{
  background-color: #546A7B;
  color: #333741;
}