.note-dimensions {
  background-color: #546a7b;
  height: 15rem;
  width: 12rem;
  border-radius: 5%;
  z-index: 2;
}

/* .notes-title{

} */

.notes-title {
  /* display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; */
  position: relative;
  /* top: 45%;
  left: 40%; */
  font-size: 3rem;
}

.note-icon-hover{
  background-color: transparent;
}

.note-icon-hover:hover{
  cursor: pointer;
}

/* .dp-sec{
  transition: transform 5s ease-in-out;
} */

.placement-icons{
  bottom: 3%;
  left: 10%;
}
