/* .sidebar { */
  /* background-color: #212529; */
  /* position: ; */
  /* margin: 0; */
  /* padding: 0; */
  /* height: 100%; */
  /* overflow: auto; */
/* } */

/* @media (max-width: 799.98px) {
  .sidebar {
    width: 100%;
  }
} */

.font-yellow{
  color: rgb(238, 229, 233);
}

.focus-selector:active{
  background-color: aqua;
}

.focus-selector:hover{
  background-color: #546A7B;
  /* border-radius: 0 30% 30% 0; */
}